name: iOS Flutter Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      # هذا ينشئ اختصار حتى يصير /Applications/flutter موجود على الـ runner
      - name: Create Flutter symlink for Xcode
        run: |
          echo "FLUTTER_ROOT=$FLUTTER_ROOT"
          sudo mkdir -p /Applications
          if [ ! -d "/Applications/flutter" ]; then
            sudo ln -s "$FLUTTER_ROOT" /Applications/flutter
          fi

      - name: Flutter pub get
        run: flutter pub get

      - name: Prepare CocoaPods
        run: |
          cd ios
          rm -rf Pods Podfile.lock
          pod repo update
          pod install
          cd ..

      - name: Build iOS (no codesign)
        run: flutter build ios --release --no-codesign

      - name: Upload iOS build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: build/ios/iphoneos/
