name: iOS Flutter Build

on:
        workflow_dispatch:
        push:
                branches: [ main ]

jobs:
        build-ios:
                runs-on: macos-latest
                steps:
                        -name: Checkout code
                        uses: actions/checkout@v4
                        -name: Set up fletter
                        uses: subosito/flutter-action@v2
                        with:
                                flutter-version: 'stable'
                                channel: 'stable'
                        -name: Flutter pub get
                        run: flutter pub get
                        -name: Build iOS (no codesign)
                        run: flutter build ios --release --no-codesign
                        -name: Upload iOS build artifact  
                        uses: actions/upload-artifact@v4
                        with:
                                name: ios-build
                                path: build/ios/iphoneos/
